<div class="container">
  <div class="row">
    <div class="card boder-primary">
      <h3 class="card-header bg-primary">Student List</h3>
      <div class="card-body">
        <h4 class="card-title">Student List</h4>

        <table class="table">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Point</th>
            <th>Result</th>
          </tr>
          <tr *ngFor="let item of students; let i = index">
            <td>{{i + 1}}</td>
            <td [ngClass] = "item.gender == 2 ? 'txt-color , txt-font-weight' : ''">
              {{item.name}}
            </td>
            <td [ngSwitch]="item.gender">
              <span *ngSwitchCase="0">Female</span>
              <span *ngSwitchCase="1">Male</span>
              <span *ngSwitchDefault>LGBT</span>
            </td>
            <td [ngStyle]="{
            'color' :item.point ==0 ? 'red' : '',
            'font-weight':'bold'}">
              {{item.point}}
            </td>
            <td>
              <span *ngIf="item.point >=75; else elseBlock">Pass</span>
              <ng-template #elseBlock>
                <span>Fail</span>
              </ng-template>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <app-angular-pipes></app-angular-pipes>
</div>
